.video-block {
	.video_box {
		position: relative;
		padding-top: 54.7%;
		overflow: hidden;
		border-radius: 24px;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	@media(max-width: 1199px) {
		.container {
			padding: 0;
		}

		.video_box {
			border-radius: 0;
		}
	}
}