.popup_inner {
	position: fixed;
	inset: 0;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: .2s;
	
	&.open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	
	.overlay {
		position: absolute;
		inset: 0;
		background-color: #000;
		opacity: .4;
		cursor: default;
	}
	
	.popup_content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		max-width: 650px;
		height: 90%;
		display: flex;
		align-items: center;
	}
	
	.popup_container {
		max-height: 100%;
		padding: 24px;
		background-color: #fff;
		border-radius: 16px;
	}
	
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		span {
			font-size: 24px;
		}
	}
	
	.body {
		overflow: auto;
	}
}